
<div class="chat-images">
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
    <div class="chat-image">
        <img src="../../assets/images/pic01.jpg" alt="">
    </div>
</div>

