
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-repeat:before { content: '\e802'; } /* '' */
.icon-volume-off:before { content: '\e803'; } /* '' */
.icon-volume-up:before { content: '\e804'; } /* '' */
.icon-fullscreen:before { content: '\f0b2'; } /* '' */