<div class="wrapper">
    <div class="inner">
        <section class="main">
            <header class="major">
                <h2>Source-Live 3-LL</h2>
                <p>Low Latency high quality broadcasting</p>
            </header>
            <div class="features">
                <section>
                    <span class="icon solid accent2 icon-circle"><i class="fa fa-camera"></i></span>
                    <h3>For review</h3>
                    <p>Broadcast quality review</p>
                </section>
                <section>
                    <span class="icon solid accent3 icon-circle"><i class="fa fa-paper-plane"></i></span>
                    <h3>Easy sharing</h3>
                    <p>Share the link, join instantly</p>
                </section>
                <section>
                    <span class="icon solid accent4 icon-circle"><i class="fa fa-lock"></i></span>
                    <h3>Secure</h3>
                    <p>One-time password protection</p>
                </section>
            </div>
        </section>
    </div>
</div>
